.footer-purchase  
  %ul(class="footer-note")
    %li(class="privacy") プライバシーポリシー
    %li(class="rules") フリマ利用規約
    %li(class="specific-deal") 特定商取引に関する表記
  = image_tag "logo-white.png", size:"185x49", class: "footer-logo" 
  .footer__inc
    %label ©️
    %span FURIMA, Inc.