.l-container__side
  .l-container__side__mypage-nav
    %ul
      %li.mypage-nav-list-item.active
        マイページ
        .icon-arrow-right
          >
      %li.mypage-nav-list-item
        お知らせ
        .icon-arrow-right
          >
      %li.mypage-nav-list-item
        やることリスト
        .icon-arrow-right
          >
      %li.mypage-nav-list-item 
        いいね!一覧
        .icon-arrow-right
          >
      %li 
        = link_to new_product_path,class:"mypage-nav-list-item" do
          出品する
        .icon-arrow-right
          >
      %li.mypage-nav-list-item 
        出品した商品-出品中
        .icon-arrow-right
          >
      %li.mypage-nav-list-item 
        出品した商品-取引中
        .icon-arrow-right
          >
      %li.mypage-nav-list-item 
        出品した商品-売却済み
        .icon-arrow-right
          >
      %li.mypage-nav-list-item 
        購入した商品-取引中
        .icon-arrow-right
          >
      %li.mypage-nav-list-item 
        購入した商品-過去の取引
        .icon-arrow-right
          >
      %li.mypage-nav-list-item 
        ニュース一覧
        .icon-arrow-right
          >
      %li.mypage-nav-list-item 
        評価一覧
        .icon-arrow-right
          >
      %li.mypage-nav-list-item 
        ガイド
        .icon-arrow-right
          >
      %li.mypage-nav-list-item 
        お問い合わせ
        .icon-arrow-right
          >
    .l-container__side__mypage-nav__head
      FURIMAペイ
    %ul
      %li.mypage-nav-list-item 
        売却・振込申請
        .icon-arrow-right
          >
      %li.mypage-nav-list-item 
        ポイント
        .icon-arrow-right
          >
    .l-container__side__mypage-nav__head
      設定
    %ul
      %li.mypage-nav-list-item 
        プロフィール
        .icon-arrow-right
          >
      %li.mypage-nav-list-item 
        発送元・お届け先住所住所変更
        .icon-arrow-right
          >
      %li 
        = link_to card_path(current_user),class:"mypage-nav-list-item" do
          支払い方法
        .icon-arrow-right
          >
      %li.mypage-nav-list-item 
        メール/パスワード
        .icon-arrow-right
          >
      %li.mypage-nav-list-item 
        本人情報
        .icon-arrow-right
          >
      %li.mypage-nav-list-item 
        電話番号の確認
        .icon-arrow-right
          >
      %li.mypage-nav-list-item 
        ログアウト
        .icon-arrow-right
          >