.container
  .side
    .mypage-nav
      .mypage-nav-list
      %ul
        %li リスト1
        %li リスト2
        %li リスト3
      .mypage-nav-head
      メルペイ
      .mypage-nav-list
      .mypage-nav-head
      設定
      .mypage-nav-list
  .content
    .mypage-user-icon
      = link_to "#",class: "user-icon-btn" do
    .mypage-tab-container-notification-todo
      .mypage-tabs
      .tab-content
    .mypage-tab-container
      .mypage-tab-head
      購入した商品
      .mypage-tabs
      .tab-content