.pcheader 徳岡さんが作ってる

-# パンくずメニュー
%nav.breadCrumbs
  %ul.category

    %li.category__content
      %a.category__content FRIMA

    %li.category__content
      %i.fas.fa-angle-right

    %li.category__content
      %a ベビー・キッズ

    %li.category__content
      %i.fas.fa-angle-right

    %li.category__content
      %a ベビー服(男女兼用)  ~95cm

    %li.category__content
      %i.fas.fa-angle-right

    %li.category__content
      %a アウター

    %li.category__content
      %i.fas.fa-angle-right

    %li.category__content
      %p product3