.wrapper {
  background-color: #EEEEEE;
  .container {
    display: flex;
    margin: 40px 128.5px 0;
    padding: 0 0 40px;
    height: 100vh;
    width: calc(100% - 20%);
    .containerLeft {
      margin-right: 40px;
      border: solid;
      height: 100%;
      width: calc(100% - 70%);
      .detail-container {
        position: relative;
        .search-sort {
          height: 48px;
          padding: 0 16px;
          border: 1px solid #ccc;
          .fas {
            position: absolute;
            right: 16px;
            top: 23%;
            color: #888;
            font-size: 30px;
          }
        }
      }
    }
    .containerRight {
      height: 100%;
      width: calc(100% - 30%);
      &__search-result-head h1 {
        font-size: 22px;
        margin-bottom: 8px;
      }
      &__search-result-number p {
        margin: 16px 0;
        font-size: 12px;
        color: #888;
      }
      &__search-item-field {
        width: auto;
        height: 100%;
        .item-box {
          border: solid;
          height: 218px;
          width: 160px;
          margin: 0 20px 20px 0;
          &__photo {
            height: 160px;
            width: 160px;
            border-bottom: solid;
          }
          &__text {
            position: relative;
            height: 58px;
            padding: 6px 6px;
            height: 58px;
            width: 160px;
            &__name h3 {
              position: relative;
              font-size: 14px;
              overflow: hidden;
              word-break: normal;
              height: 3em;
              line-height: 1.5;
              white-space: normal;
            }
            &__price {
              position: absolute;
              font-weight: 600;
              font-size: 17px;
              top: -40px;
              left: 0;
              font-weight: 600;
              color: #fff;
              padding: 2px 12px 1px 5px;
              border-radius: 0 16px 16px 0;
              background-color: rgba(0,0,0,0.3);
            }
            &__icon {
              position: absolute;
              right: 23px;
              bottom: 20px;
              padding-left: 32px;
              background: linear-gradient(to right, rgba(255,255,255,0), #fff 24px)
            }
          }
        }
      }
    }
  }
}