.card-show-container{
  &__showheader{
    font-size: 24px;
    font-weight: bold;
    background-color: white;
    text-align: center;
    padding: 8px 24px;
    border-bottom: 2px solid whitesmoke;
  }
  .form-content{
    text-align: center;
    background-color: white;
    &__select{  
      &__delete{
        width: 379px;
        font-size: 15px;
        height: 46px;
        color: white;
        font-weight: bold;
        background-color: red;
        border: 2px solid red;
        margin-top: 15px;
        margin-bottom: 10px;
        margin-right: 5px;
      }

      &__return{
        border: 2px solid #3CCACE;
        font-size: 15px;
        font-weight: bold;
        padding: 13px 160px;
        background-color: #3CCACE;
        color: white;
        margin-bottom: 10px;
        margin-left: 10px;
      }
    }  
  }  
}

