.seller-message{
  padding: 17px 24px;
  &__contents__items__user--right{
    left: auto;
    right: 56px;
    text-align: right;
    color: gray;
    margin-right: 20px;
  }
  &__contents__items__user--left{
    left: auto;
    right: 56px;
    text-align: left;
    color: gray;
  }
  &__contents__items__body{
    background: #fbf0e6;
    width: 600px;
    position: relative;
    padding: 16px;
    border-radius: 15px;
    line-height: 1.5;
    word-break: break-all;
    &--text{
      text-align: left;
    }
    &--icons{
      margin: 8px 0 0;
      display: flex;
      justify-content: space-between;
      &--left{
        display: block;
        color: #aaa;
      }
      &--right{
        float: right;
      }
    }
  }
}