.seller-message{
  padding: 24px;
  .seller-message__contents__items__user{
    left: auto;
    right: 56px;
    text-align: right;
    color: blue;
  }
  .seller-message__contents__items__body{
    float: left;
    background: #fbf0e6;
    width: 600px;
    position: relative;
    padding: 16px;
    border-radius: 15px;
    line-height: 1.5;
    word-break: break-all;
    margin-bottom: 15px;
    &--text{
      text-align: left;
    }
    &--icons{
      margin: 8px 0 0;
      display: flex;
      justify-content: space-between;
      &--left{
        display: block;
        color: #aaa;
      }
      &--right{
        float: right;
      }
    }
  }
}

.other-message{
  padding: 24px;
  .other-message__contents__items__user{
    left: auto;
    right: 56px;
    text-align: left;
    color: red;
  }
  .other-message__contents__items__body{
    float: right;
    background: #fbf0e6;
    width: 600px;
    position: relative;
    padding: 16px;
    border-radius: 15px;
    line-height: 1.5;
    word-break: break-all;
    margin-bottom: 15px;
    &--text{
      text-align: left;
    }
    &--icons{
      margin: 8px 0 0;
      display: flex;
      justify-content: space-between;
      &--left{
        display: block;
        color: #aaa;
      }
      &--right{
        float: right;
      }
    }
  }
}
