
@import "reset";

.top-page{
  .header{
    padding: 0 60px;
    position: relative;
      .header-box{
        max-width: 1040px;
        width: 100%;
        height: 97px;
        margin: 0 auto;
        padding: 15px 0 0;
      .main-header{
        display: flex;
        align-items: center;

        .logo-icon{
            padding: 0 15px 0 0;
          }

        .search-form{
          display: flex;
          .form{
            width: 834px;
            height: 36px;
            padding: 0 0 0 5px;
            }
          .search{
            background-color: #3CCACE;
            padding: 9px;
          }
        }
      }
      .main-navi{
        display: flex;
        position: relative;
        font-size: 14px;
        margin-bottom: 10px;
        white-space: nowrap;
        top: 17px;
        .left-navi{
          display: flex;
          a{
          list-style: none;
          text-decoration: none;
          color: #333;
          padding: 0 11px 0 0;
          }
          a:hover{
            color: orange;
          }
          }
        
        .right-navi{
          display: flex;
          padding: 0 0 0 730px;
          a{
            list-style: none;
            text-decoration: none;
            color: #333;
            padding: 0 15px 0 0;
            
            }
         }
      }
    }
  }

  .top-main{
    background-color: green;
    width: 100%;
    height: 100%;

    .main-visual{
      background-image:url(bg-mainVisual-pict_pc.jpg);
      width: 100%;
      height: 560px;
      background-repeat: no-repeat;
      background-size:cover;
      position: relative;

        .content{
        position: relative;
        padding: 0 60px;
          .text{
            position: absolute;
            top:220px;
       
            .p{
              text-shadow: 0 0 5px rgba(0,0,0,0.4);
              font-size: 60px;
              line-height: 1.2;
              color: #fff;
              
            }
            .p2{
              text-shadow: 0 0 5px rgba(0,0,0,0.4);
              font-size: 18px;
              color: #fff;
              line-height: 1.77778;
              margin: 16px 0 0 0;

            }
            .p3{
            text-shadow: 0 0 5px rgba(0,0,0,0.4);
            font-size: 18px;
            color: #fff;
            line-height: 1.77778;
            }

          .app-icon{
            margin: 24px 0 0 0;
            cursor:pointer;
            filter: alpha(opacity=60);
            
            .abtn:hover{
              opacity: 0.5;
            }
            .gbtn:hover{
              opacity: 0.5;
            }
            
          }
         }
       }
      }


    .main-intro{
      width: 100%;
      height: 658px;
      .intro-content{
        padding: 60px 20px;
        .subtitle{
        .reason{
        text-align: center;
        font-size: 26px;
        line-height: 1.4;
        font-weight: bold;
        margin-bottom: 25px;
        padding-bottom: 15px;
        position: relative;
        }
         ::after{
          content: "-";
          width: 70px;
          height: 4px;
          background-color: #3CCACE;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
        }

        }
        .list{
          display: flex;
          margin: 0 auto;
          position: absolute;
          text-align: center; 
          left: 123px;
          font-size: 24px;
          line-height: 50px;
          margin-bottom: 20px;

          li{
            margin: 16px 5% 0 0;
            .text1{
              font-weight: bold;
              font-size: 24px;
              line-height: 50px;
             .a{
               color: #3CCACE ;
             }

            }

          }

        }
        .number{
          display: inline-block;
          position: absolute;
          font-size: 30px;
          text-align: center;
          margin: 0 5px 0 0;
          padding: 10px 20px;
          background-color: #3CCACE;
          color: #fff;
        }
      
      }
    }

    .number1visual{
        background-image: url(bg-topMiddleDl-pict.jpg);
        width: 100%;
        height: 400px;
        background-size: cover;
        background-position: bottom right;
        position: relative;
        .number1__content{
          padding: 76px;
          position: abusolute;
          &__text{
            
            color: #fff;
            text-shadow: 0 0 5px rgba(0,0,0,0.4);
            text-align: left;
            max-width: 1040px;
            width: 100%;
            margin: 0 auto;
          .subtitle{
            font-size: 27px;
            font-weight: bold;
            line-height: 1.4;
          }
          .popular{
            font-size: 18px;
            margin: 20px 0 30px;
            line-height: 1.5;
              
            }
          .app-icon{
            .abtn:hover{
              opacity: 0.5;
            }
            .gbtn:hover{
              opacity: 0.5;
            }

          }


        }
       }
       }
    .furimafeature{
      text-align: center;
      font-size: 26px;
      line-height: 1.4;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
    }
    .product-phot{
      text-align: center;
      font-size: 26px;
      line-height: 1.4;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;

      .phot-1{
        
      }
      .phot-2{

      }
    }
    .download-banner{
      background-image: url(bg-appBanner-pict.jpg);
      height: 359px;
      &__content{
        text-align: center;
        padding: 100px 40px;
        &__text{
          color: #fff;
          .p{
            text-shadow: 0 0 5px rgba(0,0,0,0.4);
            font-size: 24px;
            font-weight: bold;
            line-height: 1.4;
          }
          .p2{
            font-size: 35px;
            text-shadow: 0 0 5px rgba(0,0,0,0.4);
          }
          .app-icon{
            margin: 20px auto 0;
          }

          .abtn:hover{
            opacity: 0.5;
          }
          .gbtn:hover{
            opacity: 0.5;
          }
        }
      }
    
    
    }

  }

  .footer{
    padding: 60px 0;
    color: #fff;
    background-color: #272727;
    width: 100%;
    &__content{
      .furima{
      text-align: center;
      .content{
        height: 260px;
        width: 150x;
        display: inline-block;
        color: tan;
      }



    }

  }
    .camera-icon{
      cursor: pointer;
      p{
        color: white;
        font-size: 18px;
      }
      .camera{
        top: 5px;
      }

      width: 90px;
      background: #3CCACE;
      text-align: center;
      border-radius: 4%;
      bottom: 32px;
      right: 32px;
      position: fixed;
      padding: 15px;
    }
    .camera-icon:hover{
      opacity:0.9;
    }
    .furima-icon{
      text-align: center;
    }
    .furima-text{
      text-align: center;
      p{
        display: inline-block;
      }
      
    }

  }
}