.wrapper {
  background-color: rgb(245, 245, 245);
  width: 100vh;
}
.header-new {
  width: 100%;
  height:128px;
  .logo-new{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
  }
}
.main-contents {
  background-color:white;
  height: 2560px;
  width: 700px;
  margin: 0 auto;
  padding-bottom: 50px;
  &__image{
    padding: 40px;
    height: 100%;
    border-bottom: 2px solid #F5F5F5;
    &__body{
      #image-box-1{
        display:flex;
        flex-wrap: wrap;
        #image-box__container{
          height: 150px;
          background-color: #F5F5F5;
          .input-area{
            width: 100%;
            .fa-camera{
              display: block;
              text-align: center;
              margin: 0 auto;
              line-height: 150px;
              font-size: 25px;
              cursor: pointer;
            }
            .fa-camera:hover{
              color: #3CCACE;
            }
          }  
          
        }
        .item-image{
          border: 1px solid #3CCACE;
          height: 150px;
          .item-image__operetion{
            .item-image__operetion--delete{
              cursor: pointer;
              font-size: 20px;
              text-align: center;
              line-height: 60px;
              height: 60px;
            }
            .item-image__operetion--delete:hover{
              color: #3CCACE;
            }
          }  
        }
      }
      @media screen and (max-width:700px) {
        #image-box-1{
          flex-wrap: wrap;
        }
      }
      label{
        font-size: 14px;
        font-weight: 600;
        line-height: 1.4em;
      }
      span{
        background-color: #ff0211;
        color: #fff;
        font-size: 12px;
        margin-left: 3px;
        padding:1px 4px;
        border-radius: 2px;
        font-family: Arial;
        font-style: normal;
        font-weight: 600;
      }
      p.note{
        margin-top: 16px;
        font-size: 14px;
      }
      
      .item-num-0{
        width: 100%;
        
      }
      .item-num-1{
        width: 503.9px;
      }
      .item-num-2{
        width: 387.9px;
      }
      .item-num-3{
        width: 271.9px;
      }
      .item-num-4{
        width: 155.9px;
      }
      //下段のfile_field
      .item-num-5{
        width: 100%;
      }
      .item-num-6{
        width: 503.9px;
      }
      .item-num-7{
        width: 387.9px;
      }
      .item-num-8{
        width: 271.9px;
      }
      .item-num-9{
        width: 155.9px;
      }
      
      
    }
    

  }  
  &__product-description{
    padding: 40px;
    height: 416px;
    border-bottom: 2px solid #F5F5F5;
    &__topform{
      height: 83px;
      label{
        font-size: 14px;
        font-weight: 600;
        line-height: 1.4em;
      }
      span{
        background-color: #ff0211;
        color: #fff;
        font-size: 12px;
        margin-left: 3px;
        padding:1px 4px;
        border-radius: 2px;
        font-family: Arial;
        font-style: normal;
        font-weight: 600;
      }
    }  
    .input{
      width: 600px;
      height: 44px;
      padding-left: 16px;
      margin-top: 16px;
      border-radius: 4px;
      border: 1px solid #3CCACE;
    }  
    &__formerror{
      margin-top: 16px;
      color: red;
      font-size: 14px;
      line-height: 1.4em;
    }

    &__bottomform{
      height: 221px;
      margin-top: 32px;
      &__name{
        label{
          font-size: 14px;
          font-weight: 600;
          line-height: 1.4em;
        }
        span{
          background-color: #ff0211;
          color: #fff;
          font-size: 12px;
          margin-left: 3px;
          padding:1px 4px;
          border-radius: 2px;
          font-family: Arial;
          font-style: normal;
          font-weight: 600;
        }     
      }
      textarea{
        height: 126px;
        margin-top: 16px;
        width: 586px;
        border-radius: 4px;
        border: 1px solid #3CCACE;
        padding: 13px 16px;
      }
      &__counter{
        height:16px;
        text-align: right;
        color: #888;
        font-size: 12px;
        line-height: 1.4em;
        margin-top: 16px;
      }
      &__formerror{
        height:19px;
        color: red;
        text-align: left;
        font-size: 14px;
        margin-top: 16px;
      }
    }

    
  }
  &__product-detail{
    height: 100%;
    border-bottom: 2px solid #F5F5F5;  
    padding: 40px;
    p{
      height: 19px;
      margin-bottom: 24px;
      font-size: 14px;
      color: #888888;
      font-weight: 600;
      line-height: 1.4em;
    }
    &__top{
      height: 100%;
      &__category{
        label{
          font-size: 14px;
          font-weight: 600;
          line-height: 1.4em;
        }
        span{
          background-color: #ff0211;
          color: #fff;
          font-size: 12px;
          margin-left: 3px;
          padding:1px 4px;
          border-radius: 2px;
          font-family: Arial;
          font-style: normal;
          font-weight: 600;
        }  
      }
      .listing-form-box{   
        .listing-select-wrapper__box--select{
          width: 620px;
          height: 48px;
          background-color:white;
          margin-top: 16px;
          appearance: none;
          padding-left:16px; 
          border-color: #3CCACE;
        }   
      } 
      &__formerror{
        color: red;
        font-size: 14px;
        line-height: 1.4em;
        margin-top: 16px;
        
      }
    }  

    &__middle{
      height: 83px;
      margin-top: 20px;
      &__brand{
        label{
          font-size: 14px;
          font-weight: 600;
          line-height: 1.4em;
        }
        span{
          background-color: #bfbfbf;
          color: #fff;
          font-size: 12px;
          margin-left: 3px;
          padding:1px 4px;
          border-radius: 2px;
          font-family: Arial;
          font-style: normal;
          font-weight: 600;
        }  
      }     
      &__selector{     
        input{
          width: 600px;
          height: 44px;
          padding-left: 16px;
          margin-top: 16px;
          border-radius: 4px;
          border: 1px solid #3CCACE;
        }   
      }  
    }

    &__bottom{
      height: 83px;
      margin-top: 32px;
      &__condition{
        label{
          font-size: 14px;
          font-weight: 600;
          line-height: 1.4em;
        }
        span{
          background-color: #ff0211;
          color: #fff;
          font-size: 12px;
          margin-left: 3px;
          padding:1px 4px;
          border-radius: 2px;
          font-family: Arial;
          font-style: normal;
          font-weight: 600;
        }     

      }
      &__selector{     
        select {
          width: 620px;
          height: 48px;
          background-color:white;
          margin-top: 16px;
          appearance: none;
          padding-left:16px; 
          border-color: #3CCACE;
          option{
          
          }
        }   
      } 
      &__formerror{
        color: red;
        font-size: 14px;
        line-height: 1.4em;
        margin-top: 16px;
      } 
    }



  }
  &__delivery{
    height: 470px;
    border-bottom: 2px solid #F5F5F5; 
    padding: 40px;
    &__about{
      display: flex;
      p{
        height: 19px;
        margin-bottom: 24px;
        font-size: 14px;
        color: #888888;
        font-weight: 600;
        line-height: 1.4em;
      }
      .fa-question-circle{
        margin-left: 4px;
        color: #3CCACE;
        font-size: 14px;
        position:relative;
        top:2px;
      }
    }
    &__top{
      height:118px;
      &__burden{
        label{
          font-size: 14px;
          font-weight: 600;
          line-height: 1.4em;
        }
        span{
          background-color: #ff0211;
          color: #fff;
          font-size: 12px;
          margin-left: 3px;
          padding:1px 4px;
          border-radius: 2px;
          font-family: Arial;
          font-style: normal;
          font-weight: 600;
        }     
      }
      &__selector{
        select {
          width: 620px;
          height: 48px;
          background-color:white;
          margin-top: 16px;
          appearance: none;
          padding-left:16px; 
          border-color: #3CCACE;

        }   
      }
      &__formerror{
        color: red;
        font-size: 14px;
        line-height: 1.4em;
        margin-top: 16px;
      } 
    }

    &__middle{
      height:118px;
      margin-top: 32px;
      &__area{
        label{
          font-size: 14px;
          font-weight: 600;
          line-height: 1.4em;
        }
        span{
          background-color: #ff0211;
          color: #fff;
          font-size: 12px;
          margin-left: 3px;
          padding:1px 4px;
          border-radius: 2px;
          font-family: Arial;
          font-style: normal;
          font-weight: 600;
        }     
      }
      &__selector {
        select {
          width: 620px;
          height: 48px;
          background-color:white;
          margin-top: 16px;
          border-color: #3CCACE;
        
        }   
      }
      &__formerror{
        color: red;
        font-size: 14px;
        line-height: 1.4em;
        margin-top: 16px;
      }
    }
    &__bottom{
      height: 118px;
      margin-top: 32px;
      &__days{
        label{
          font-size: 14px;
          font-weight: 600;
          line-height: 1.4em;
        }
        span{
          background-color: #ff0211;
          color: #fff;
          font-size: 12px;
          margin-left: 3px;
          padding:1px 4px;
          border-radius: 2px;
          font-family: Arial;
          font-style: normal;
          font-weight: 600;
        }     
      }
      &__selector{
        select {
          width: 620px;
          height: 48px;
          background-color:white;
          margin-top: 16px;
          appearance: none;
          padding-left:16px; 
          border-color: #3CCACE;
        }   
      }
      &__formerror{
        color: red;
        font-size: 14px;
        line-height: 1.4em;
        margin-top: 16px;
      } 
    }
  }
  &__price{
    height: 700px;
    padding: 40px;
    &__about{
      font-size: 14px;
      color:#888888;
      font-weight: 600;
      line-height: 1.4em;
      margin-bottom: 24px;
      height: 19px;
      .fa-question-circle{
        color: #3CCACE;
        margin-left: 6px;
      }
    }
    &__sell{
      height: 187x;
      &__top{
        height: 58px;
        font-size: 14px;
        display: flex;
        &__labeler{
          padding-top: 20px;
          label{
            font-weight: 600;
            line-height: 1.4em;
          }
          span{
            background-color: #ff0211;
            color: #fff;
            font-size: 12px;
            margin-left: 3px;
            padding:0px 3px;
            border-radius: 2px;
            font-family: Arial;
            font-style: normal;
            font-weight: 600;
            display: inline-block;
          }  
        }     
        span.price{
          color: black;
          background-color: white;
          margin-left: 200px;
          padding-top: 20px;
          font-family: Arial;
          margin-right: 8px;
        }
        &__inputarea{
          
          input{
            height: 48px;
            width: 270px;
            border-radius: 4px;
            border: 1px solid #ccc;
            margin-right: 2px;
            padding: 0 16px;
            border-color: #3CCACE;
          }
        }
      }
      &__topformerror{
        color: red;
        font-size: 14px;
        text-align: right;
        margin-top: 8px;
      }

      &__middle{
        height: 40px;
        width: 620px;
        padding: 12px 0;
        display: flex;
        border-bottom: 2px solid #F5F5F5;
        justify-content: space-between;
        label{
          font-size:14px;
      
          vertical-align: baseline;
        }

      }

      &__bottom{
        height: 58px;
        padding-top: 20px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        label{
          font-size: 14px;
        }
      }
      &__two-selections{
        height: 140px;
        margin: 0 130px 15px;
        .exhibition{
          display: block;
          width: 360px;
          height: 50px;
          margin-bottom: 24px;
          background-color: #3CCACE;
          color: white;
          font-size: 17px;
          font-weight: 600;
          border-radius: 4px;
        }
        .return{
          display: block;
          width: 360px;
          height: 50px;
          background-color: #cccccc;
          font-size: 17px;
          font-weight: 600;
          border-radius: 4px;
          color: white;
          font-size: 17px;
          font-weight: 600;
          border-radius: 4px;
          text-align: center;
          line-height: 50px;
        }
      }

      &__edit-selection-btn{
        margin: 0 130px 15px;
        .change-btn{
          display: block;
          width: 360px;
          height: 50px;
          margin-bottom: 24px;
          background-color: #3CCACE;
          color: white;
          font-size: 17px;
          font-weight: 600;
          border-radius: 4px;
        }

        .btn-span{
          height: 15px;
          line-height: 15px;
          text-align: center;
        }

        .delete-btn , .return-btn{
          display: block;
          width: 360px;
          height: 50px;
          background-color: #cccccc;
          font-size: 17px;
          font-weight: 600;
          border-radius: 4px;
          color: white;
          text-align: center;
          line-height: 50px;
          margin-top: 15px;
        }

      }

      p{
        font-size: 12px;
      }
    }
  }
}
.footer{
  height:220px;
  padding-top: 40px;
  ul{
    font-size: 12px;
    text-align: center;
    .privacy{
      display: inline;
    }
    .rules{
      display: inline;
      margin-left: 16px;
    }
    .specific-deal{
      display: inline;
      margin-left: 16px;
    }
  }
  .footer-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
  }
  &__inc{
    text-align: center;
    display:flex
    label{
      font-size: 20px;
    }
    span{
      font-size: 12px;
    }
  }
}