.wrapper
  .header-purchase
    = image_tag "logo.png", size:"185x49", class: "logo-purchase"
  .single-main
    .single-main__container
      .single-main__container__header
        %h2 購入内容の確認
      .single-main__container__wish-item
        .single-main__container__wish-item__box
          %h3.single-main__container__wish-item__box__img
            = image_tag "purchase-sample.png", size:"80x80", class: "sample-purchase"
          .single-main__container__wish-item__box__detail
            %p.single-main__container__wish-item__box__detail__name CoCo壱 カレー
            %p.single-main__container__wish-item__box__detail__price
              %span ¥500
              %span.ship  (税込) 送料込み
      .single-main__container__buy-info
        .single-main__container__buy-info__inner
          %form(class="buy-form")
            %ul
              %li.payment 支払い金額
              %li.price ¥500
          .single-main__container__buy-info__inner__point
            %i.far.fa-square
            %label ポイントを使用 (所持ポイント: P0)
          .single-main__container__buy-info__inner__card
            .single-main__container__buy-info__inner__card__inner
              .single-main__container__buy-info__inner__card__inner__top
                %label 支払い方法
                =link_to "変更する", "#", class:"change"
              .single-main__container__buy-info__inner__card__inner__card-info
                %p.card クレジットカード
                %p.number ************8386
                %p.expire 有効期限 11 / 22
                %img{alt:"visa", height:"15", src:"//pcweb-assets.mercdn.net/assets/img/card/visa.svg?3118215515", width:"49" ,class:"card-comp"}
          .single-main__container__buy-info__inner__address
            .single-main__container__buy-info__inner__address__inner
              .single-main__container__buy-info__inner__address__inner__top
                %label 配送先
                =link_to "変更する", "#", class:"change"
              .single-main__container__buy-info__inner__address__inner__address
                %p 〒157-0061
                %p 東京都 世田谷区 北烏山4丁目6-22 久我山IV 103号室
                %p 伊藤 圭
          .single-main__container__buy-info__inner__btn
            %button{type:"submit", class:"purchase"} 購入する
  .footer-purchase  
    %ul(class="footer-note")
      %li(class="privacy") プライバシーポリシー
      %li(class="rules") フリマ利用規約
      %li(class="specific-deal") 特定商取引に関する表記
    = image_tag "logo-white.png", size:"185x49", class: "footer-logo" 
    .footer__inc
      %label ©️
      %span FURIMA, Inc.