.wrapper
  .container
    .containerLeft
    .containerRight
      .containerRight__search-result-head
        %h1 Xの検索結果
      .containerRight__search-result-number
        %p n件表示
      .containerRight__search-item-box
